<strong>Olá, {{ provider }} </strong>
<p>Houver um cancelamento de horario, confira o detalhes abaixo:</p>

<p>
  <strong>Cliente:</strong> {{ user }} <br />
  <strong>Data/hora:</strong> {{ date }} <br />
  <br />
  <small>O horário está novamente disponível para o novo agendamento</small>
</p>
